
.nav{
    height: 15vh;
    width: 100%;
    background-color: aqua;
    border: 1px solid black;
}
.main_phase{
    height: 65vh;
    width: 100%;
    background-color: red;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_box{
    height: 60vh;
    width: 300px;
    background-color: aquamarine;
    border:1px solid black ;
    text-align: center;
}
.admin_box input{
    margin: 10px;
    padding: 5px;
}
.admin_box button{
    margin: 5px;
}
.footer_phase{
    height: 15vh;
    width: 100%;
    background-color: rgb(71, 27, 153);
    border: 1px solid black;
}   